/*==========================
Homepage
===========================*/
@media (min-width: 600px) {
  body #banner #modal_about {
    padding: 30px;
  }
}
body #banner #modal_about h4 {
  font-size: 2em;
  margin-bottom: 30px;
  position: relative;
  width: -webkit-max-content;
  width: max-content;
  padding: 10px 20px;
}
@media (max-width: 599px) {
  body #banner #modal_about h4 {
    font-size: 1.8em;
  }
}
body #banner #modal_about h4::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 5px;
  height: 100%;
  background-color: var(--secondaryC);
  bottom: 0;
  left: 0;
}
body #banner .about__button {
  margin: 30px auto;
  width: -webkit-max-content;
  width: max-content;
}
body #banner .about__button .readMore {
  margin-left: 30px;
}
body #tagline {
  font-size: 3.2em;
  font-family: var(--fontFamily);
  text-align: center;
  font-weight: 400;
  line-height: 1.3em;
  max-width: 560px;
  margin: 0 auto;
}
@media (min-width: 600px) and (max-width: 899px) {
  body #tagline {
    font-size: 2.8em;
  }
}
@media (max-width: 599px) {
  body #tagline {
    font-size: 2.8em;
  }
}
body #queryContainer {
  position: relative;
  height: 50px;
  margin: 50px auto;
  max-width: 500px;
  width: 100%;
}
body #queryContainer #queryInputs {
  position: absolute;
  height: auto;
  max-height: 50px;
  width: 100%;
  z-index: 3;
  border: 1px solid var(--bdC);
  background-color: var(--bgC);
  border-radius: var(--bdRadius);
  transition: max-height 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), box-shadow 0.2s ease;
  overflow: hidden;
}
body #queryContainer #queryInputs:hover,
body #queryContainer #queryInputs:focus-within {
  max-height: 750px;
  box-shadow: var(--shadow);
  transition: max-height 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94), box-shadow 0.2s ease;
}
body #queryContainer #queryInputs:hover #searchBox::after,
body #queryContainer #queryInputs:focus-within #searchBox::after {
  opacity: 1;
}
body #queryContainer #queryInputs:hover #queryOptions,
body #queryContainer #queryInputs:focus-within #queryOptions {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s, visibility 0s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
body #queryContainer #queryInputs #searchBox #searchTerm {
  display: block;
  background-color: transparent;
  width: 100%;
  padding: 10px 15px;
  height: 50px;
  margin: 0 auto;
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
}
body #queryContainer #queryInputs #searchBox::after {
  content: "";
  display: block;
  height: 1px;
  width: 98%;
  background-color: var(--bdC);
  opacity: 0;
  margin: 5px auto;
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
body #queryContainer #queryInputs #queryOptions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  margin: 25px;
  grid-gap: 25px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s, visibility 0s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}
body #queryContainer #queryInputs #queryOptions .checkboxesGroup .checkboxesTitle {
  margin: 0 0 10px 0;
  font-size: 1.1em;
  font-weight: 600;
}
body #queryContainer #queryInputs #queryOptions .checkboxesGroup .checkboxes {
  position: relative;
  max-height: 200px;
  overflow-y: scroll;
  border: 1px solid var(--bdC);
  border-radius: var(--bdRadius);
}
body #queryContainer #queryInputs #queryOptions .checkboxesGroup .checkboxes:focus {
  outline: 2px solid var(--secondaryC);
}
@media (max-width: 599px) {
  body #queryContainer #queryInputs #queryOptions .checkboxesGroup .checkboxes {
    grid-column: 1/3;
  }
}
body #queryContainer #queryInputs #queryOptions .checkboxesGroup .checkboxes .checkbox input {
  position: absolute;
  opacity: 0;
}
body #queryContainer #queryInputs #queryOptions .checkboxesGroup .checkboxes .checkbox label {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: var(--bgC);
  border-left: 0px solid var(--secondaryC);
  transition: border 0.2s ease;
}
body #queryContainer #queryInputs #queryOptions .checkboxesGroup .checkboxes .checkbox input:checked + label {
  background-color: var(--primaryC);
  color: var(--textC2);
}
body #queryContainer #queryInputs #queryOptions .checkboxesGroup .checkboxes .checkbox input:focus + label,
body #queryContainer #queryInputs #queryOptions .checkboxesGroup .checkboxes .checkbox label:hover {
  border-left: 5px solid var(--secondaryC);
}
body #queryContainer #queryInputs #queryOptions .checkboxesGroup .checkboxes .checkbox:nth-child(2n) label {
  background-color: var(--bgC3);
}
body #queryContainer #queryInputs #queryOptions #queryCount {
  margin: 0;
  font-weight: 600;
}
body #resources {
  margin: 0 auto;
  padding: 25px 0 100px 0;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
body #resources .loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  gap: 25px;
  margin: 25px auto;
}
body #resources .loading .loading__text {
  font-size: 1.4em;
  font-weight: 500;
  text-align: center;
  line-height: 1.6em;
  font-family: var(--fontFamily);
  color: #606060;
  animation: pulse 1.5s linear infinite;
}
body #resources .loading .loading__icon {
  width: 60px;
  height: 60px;
  filter: invert(54%) sepia(73%) saturate(304%) hue-rotate(358deg) brightness(92%) contrast(84%);
  animation: rotating 4s linear infinite;
}
body .scrollToTop {
  opacity: 0;
  position: fixed;
  bottom: 50px;
  right: 50px;
  transition: opacity 0.2s ease;
}
body .scrollToTop.show {
  opacity: 1;
}
body .scrollToTop::before {
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background-color: var(--secondaryC);
  border-radius: 100px;
  box-shadow: var(--shadow2);
  position: absolute;
}
body .scrollToTop::after {
  content: '';
  display: flex;
  position: absolute;
  bottom: 12.5px;
  right: 15px;
  width: 12px;
  height: 12px;
  transform: rotate(-45deg);
  border-top: 2px solid var(--bgC);
  border-right: 2px solid var(--bgC);
}
